html,
body {
  width: 600px;
  margin: 0 auto;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  background-color: #EEE;
}

#TForm--wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #4d9255;
  padding: 15px;
}

#TForm-errors {
  min-height: 150px;
}

.fgFieldWrapper {
  margin-bottom: 10px;
}
