html,
body {
    margin: 0 auto;
    width: 600px;
}

body {
    padding-top: 30px;
}

p {
    background-color: #EEE
}

.fgFieldWrapper {
    margin-bottom: 15px;
}

#TForm-errors {
    min-height: 100px;
}
