
include ../../jade/mixins.jade

mixin testInsert(text)
  p #{__(text)}

extends layout
block page
  //- locale selection with some style
  div.pure-menu.pure-menu-horizontal
    ul.pure-menu-list
      -var attrs = locale === "en" ? {"class" : "pure-menu-selected"} : "";
      li.pure-menu-item&attributes(attrs)
        a(href="?locale=en").pure-menu-link
          | EN
      -var attrs = locale === "ru" ? {"class" : "pure-menu-selected"} : "";
      li.pure-menu-item&attributes(attrs)
        a(href="?locale=ru").pure-menu-link
          | RU
  //- form render with some view related HTML insertions
  +Form(simpleForm, {
          "@::attributes" : { "class" : "pure-form pure-form-stacked" },
          "@-userData::after" : [ "testInsert", "Inserted HTML" ] } )
