
include ../../jade/mixins.jade

mixin testInsert()
  p
    +TR("Inserted HTML")

mixin testArgument(title)
  h3
    +TR(title)

extends layout
block page
  ul
    li
      a(href="?locale=en")
        | EN
    li
      a(href="?locale=ru")
        | RU
  h1
    +TR("Form")
  hr
  +Form(simpleForm, {
    "TForm-nonInput::before" : "<p><i><span>Literally inserted HTML</span></i></p>",
    "TForm-userData::after" : [ "testInsert" ],
    "TForm-errors::before" : [ "testArgument", "Server response" ] } )
  hr
