
include ../../jade/mixins.jade

mixin testInsert()
  p
    +TR("Inserted HTML")

mixin testInsertArgument(title)
  fieldset
    legend
      +TR(title)

extends layout
block page
  div.pure-menu.pure-menu-horizontal
    ul.pure-menu-list
      -var attrs = locale === "en" ? {"class" : "pure-menu-selected"} : "";
      li.pure-menu-item&attributes(attrs)
        a(href="?locale=en").pure-menu-link
          | EN
      -var attrs = locale === "ru" ? {"class" : "pure-menu-selected"} : "";
      li.pure-menu-item&attributes(attrs)
        a(href="?locale=ru").pure-menu-link
          | RU
  +Form(simpleForm, {
          "TForm::attributes" : { "class" : "pure-form pure-form-stacked" },
          "TForm-userData::after" : [ "testInsert" ],
          "TForm-errors::before" : [ "testInsertArgument", "Server response" ] } )
